<style>
/* 背景色の指定 */
head {
   	background-color: #40e0d0;
	h1 {
		font-size:60px;
		font-weight: bold; /* 太字 */
		color: black; /* 黒色 */
	}
}
/* 背景色の指定 */
 body {
   	background-color: #40e0d0;
	 	h1 {
		font-size:60px;
		font-weight: bold; /* 太字 */
		color: black; /* 黒色 */
	}
	 .profile{
		 display: inline-block
	 }
	 /* 授業内容 */
	.zyugyo"{
		border: solid 2px gray;
	}

	/* 料金設定 */
	.ryokin {
		text-align: center;
		border: double 5px gray;
	}
/* パラグラフの文字色と大きさ指定 */
}
p { 
  	color: #f0ffff;
  	font-size: 30px;
	text-align: justify;
}
</style>
